/* Overwrite some (dumb) bulma rules */
.footer {
    padding: 10px;
}
.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
    color: inherit;
}
/* End Of override of Bulma rules */


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding: 20px;
}

/* ---------------------------- */

.navbar {
    background-color: #E9D7AB;
}

.footer {
    background-color: #F6EFDD;
}

.hero {
    background-color: #FAF7EE;
}

#img-bg-main {
    min-height: 80px;
    opacity: 0.9;
}


.is-vertical-center {
  display: flex;
  align-items: center;
}

.no-link {
  text-decoration: none;
  color: #4a4a4a;
}
