{% extends "index.html" %}

{% block title %}{{ SITENAME }} - Archivio pagine{% endblock %}

{% block content_title %}Archivio di {{ SITENAME }}{% endblock %}

{% block content %}
<div class="content">
  <dl>
  {% for article in dates %}
    <dt>{{ article.locale_date }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
  {% endfor %}
  </dl>
</div>
{% endblock %}
