{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}


{% block content %}
<div class="container is-widescreen mt-4">
  <section id="content" class="body">

    <div class="columns">
      <div class="column">
        <header class="mb-3">

          <h2 class="subtitle content is-large">
            <a class="no-link" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
               title="Link all'articolo '{{ article.title|striptags }}'"><p>{{ article.title }}</p></a>
          </h2>

          {% import 'translations.html' as translations with context %}
          {{ translations.translations_for(article) }}

        </header>

        <footer class="post-info">
          <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>

          {% if article.modified %}
          <time class="modified" datetime="{{ article.modified.isoformat() }}">
            {{ article.locale_modified }}
          </time>
          {% endif %}

          {% if article.authors %}
          <address class="vcard author">
            Di: {% for author in article.authors %}
                <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
              {% endfor %}
          </address>
          {% endif %}

          {% if article.category %}
          <div class="category">
            Categoria: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
          </div>
          {% endif %}

          {% if article.tags %}
          <div class="tags">
            Tags: &nbsp;
            {% for tag in article.tags %}
              <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> &nbsp;
            {% endfor %}
          </div>
          {% endif %}
        </footer> <!-- /.post-info -->
      </div>

      {% if article.ref_image %}
      <div class="column is-half">
        <img src="{{ article.ref_image }}">
      </div>
      {% endif %}
    </div>

    <div class="content box mt-5">
      {{ article.content }}
    </div> <!-- /.entry-content -->

  </section>
</div>
{% endblock %}
