{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Elenco autori{% endblock %}

{% block content %}
  <h1 class="subtitle">Elenco autori del sito {{ SITENAME }}</h1>
  <div class="content">
    <ul>
    {% for author, articles in authors|sort %}
      <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}
