{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categorie{% endblock %}

{% block content_title %}Categorie sul sito {{ SITENAME }}{% endblock %}

{% block content %}
    <div class="content">
      <ul>
      {% for category, articles in categories|sort %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
      {% endfor %}
      </ul>
    </div>
{% endblock %}
