{% extends "base.html" %}

{% block content_title %}Articoli recenti{% endblock %}

{% block content %}
<section>

{% for article in articles_page.object_list %}

<div class="container is-widescreen mt-4">
  <div class="columns box">

    <div class="column is-one-fifth is-vertical-center">
      <figure class="image">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Link all'articolo '{{ article.title|striptags }}'">
          <!-- Default to the logo image if no cover image is provided inside article. -->
          <img src="{{ article.ref_image |default (SITEURL + '/' + THEME_STATIC_DIR + '/img/logo.png') }}" alt="Segnaposto">
        </a>
      </figure>
    </div>

    <div class="column">
      <div>

        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Link all'articolo '{{ article.title|striptags }}'">
          <p class="subtitle is-4">{{ article.title }}</p>
        </a>
        <p class="subtitle is-6">Di
          {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
          {% endfor %}
          - <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        </p>
      </div>

      <div class="mt-3">
        <a class="no-link" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Link all'articolo '{{ article.title|striptags }}'">
          {{ article.summary }}
        </a>
      </div>

    </div>
  </div>
</div>
{% endfor %}


{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}

</section>



{% endblock content %}


