<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ SITEURL }}">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/logo.png" class="image">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item" href="{{ SITEURL }}/chi-siamo">
        Chi siamo
      </a>

      <a class="navbar-item" href="{{ SITEURL }}/un-articolo-sui-diversi-lotti-di-miele">
        I nostri prodotti
      </a>

      <a class="navbar-item">
        Scopri di Più
      </a>

      <a class="navbar-item" href="{{ SITEURL }}/contacts">
        Contatti
      </a>

    </div>

  </div>
</nav>
