{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content_title %}Tags nel sito {{ SITENAME }}{% endblock %}

{% block content %}
    <div class="content">
      <ul>
      {% for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
      {% endfor %}
      </ul>
    </div>
{% endblock %}
